

.body {
    font-family: "Poppins", sans-serif;
}


.btnordenar{
    font-family: 'Open Sans', sans-serif;
       font-size: 1.7rem !important;
         text-decoration: none;
      
   }

   /*NAVEGACION SCROLLING*/
   
   .navigation-wrap {
       position: absolute;
       width: 100%;
       left: 0;
       z-index: 10000;
       transition: all 0.3s ease-out;
   }
   
   .navigation-wrap .nav-item {
       /*padding: 0 0, 625rem;*/
       transition: all 0.3s linear;
   }
   
   .navbar-nav .nav-item {
    margin-right: 7px; /* Espaciado entre los elementos de navegación */
    margin-top: -20px;
}


   .nav-link {
       font-size: 1.2rem;
       font-weight: 600;
       text-transform: capitalize;
       letter-spacing: 1px;
       color: #fff;
   }
   
   .nav-link:hover {
       color: #bd262a;
   }
   
   .navbar-collapse {
       text-align: center;
   }
   
   .navigation-wrap.scroll-on {
       position: fixed;
       background-color: #fff;
       top: 0;
       left: 0;
       width: 100%;
       box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
       transition: all 0.15s ease-in-out 0s;
   }
   
   .navigation-wrap.scroll-on .nav-link {
       color: #000;
   }
   
   .navigation-wrap.scroll-on .nav-link:hover,
   .navigation-wrap.scroll-on .nav-link.active {
       color: #bd262a;
   }

   /* BOTON ORDENAR*/
   
   .btnOrder {
       padding: 20px;
       background-color: #bd262a;
       color: #fff;
       outline: none;
       border: none;
       border-radius: 5px;
       font-size: 18px;
       font-weight: bold;
   }
   /* MENU HAMBURGUESA */
   
   .navbar-toggler {
       display: block;
       background-color: #d6dbe3;
       border: 2px solid #fff;
   }
   
   .navbar-toggler:hover {
       background-color: #d6dbe3;
   }
   
   .custom-toggler.navbar-toggler {
       border-color: #fff;
   }
   
   .custom-toggler .navbar-toggler-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }
   
   .custom-toggler .navbar-toggler-icon:hover {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }

/* Estilo personalizado para el botón "Campus Virtual" */
.nav-item .btn.btn-danger {
 
    border: 1.3px solid #fff;
    background-color:rgb(0, 0, 0, 0.09); 
    border-radius: 30px;        
    padding: 10px 20px;         
    font-size: 16px;            
    font-weight: bold;         
    transition: all 0.3s ease;  
    color: ;               
}

/* Efecto hover para el botón */
.nav-item .btn.btn-danger:hover {
    background-color: #b10c0c;  /* Fondo más oscuro al pasar el mouse */
    border-color: #8b0808;      /* Borde más oscuro en hover */
    color: #f0f0f0;             /* Cambiar el color del texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


/* Estilos para el menú dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: rgba(253, 253, 253, 0.3);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

/* Submenú estilo: Para que el segundo nivel de menús dropdown se muestre a la derecha */
.dropdown-submenu {
    position: relative;
}

/* Estilo que posiciona el submenú secundario a la derecha */
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%; /* Hace que el menú secundario se despliegue hacia la derecha */
    margin-top: -6px;
    margin-left: 0.1rem;
}

/* Mostrar el menú al hacer hover (se puede usar con tu JavaScript) */
.dropdown-submenu:hover .dropdown-menu {
    display: block;
}


@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin-top: 0; /* Ajusta el margen para evitar problemas de diseño en móviles */
    }
}




/************************FIN NAV***********************************/

/* Estilo para el contenedor de la Hero Section */
.hero {
    position: relative;
    height: 100vh; /* Hace que la sección ocupe el 100% del alto de la ventana */
    background-image: url('img/banner3.webp'); /*Añade la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: center; /* Centra la imagen en la pantalla */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding-left: 50px; /* Añade espacio a la izquierda para el texto */
    color: white; /* El color del texto será blanco */
  }


  .about-us {
    background-color: #ededed; /* Color de fondo suave */
    padding: 60px 0; /* Espaciado alrededor de la sección */
  }
  
  .about-us h2 {
    margin-top: 90px;
    font-size: 2.5rem; /* Tamaño grande para el título */
    font-weight: 700; /* Negrita */
    color: #021a87; 
    margin-bottom: 20px; 
  }
  
  .about-us p {
    font-size: 1.3rem; /* Tamaño de fuente ligeramente mayor para el texto */
    line-height: 1.8; /* Espaciado entre líneas */
    color: #3d3d3d; /* Color gris oscuro para el texto */
    margin-bottom: 40px; /* Espaciado entre el párrafo y los demás elementos */
  }
  
  .btn-more-info {
    display: inline-block; /* Asegurarse de que el botón sea un bloque en línea */
    margin-top: 10px; /* Espacio superior para el botón */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #b10c0c; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de la fuente */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.btn-more-info:hover {
    background-color: #720e0e; /* Color de fondo más oscuro al hacer hover */
    transform: translateY(-5px); /* Levantar el botón al hacer hover */
}


  .video-container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Esquinas redondeadas en el video */
    border: none; /* Eliminar borde del iframe */
  }
  

  /*********************************FIN NOSOTROS****************************/
  .cursos-carousel {
    padding: 40px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.cursos-titulos {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.cursos-titulos h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #b10c0c;
    margin: 0;
    padding: 10px 0;
}

.cursos-titulos p {
    font-size: 22px !important;
    color: #021a87 !important;
    margin: 5px 0;
    
}

.owl-carousel .item {
    margin: 0 15px;
}

.cursos-carousel .owl-carousel .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cursos-carousel .owl-carousel .item-info {
    background-color: #ffffff;
    color: #333;
    padding: 15px;
    text-align: left;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
    height: 180px; /* Altura fija para todos los cuadros de texto */
    overflow: hidden;
    transition: transform 0.3s ease; /* Transición suave para el zoom */
    
}

.cursos-carousel h3 {
    font-size: 22px;
    margin: 0 0 10px;
    color: #333;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  
}

.cursos-carousel p {
    font-size: 16px;
    margin: 0;
    color: #666;
    font-family: "Poppins", sans-serif;
    
}

.cursos-carousel .owl-carousel .item a {
    text-decoration: none; /* Quitar el subrayado del enlace */
    color: inherit; /* Mantener el color del texto del enlace */
}


.cursos-carousel .owl-carousel .item:hover .item-info {
    transform: scale(1.05); /* Zoom al cuadro de texto */
}

.cursos-carousel .owl-carousel .item-info:hover {
    transform: scale(1.05); /* Zoom al cuadro de texto al hacer hover */
}


.item-info {
    display: flex;
    flex-direction: column; /* Hace que los elementos internos se apilen verticalmente */
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    height: 100%; /* Asegura que ocupe el 100% de la altura disponible */
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.btn-ver-mas {
    display: inline-block;
    padding: 5px 15px;
    background-color: transparent;
    border-color: #021a87;
    color: #021a87;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: auto; /* Empuja el botón hacia la parte inferior */
    transition: background-color 0.3s ease;
    width: 150px; /* Establece un ancho fijo */
}


.btn-ver-mas:hover {
    background-color: #0056b3;
    color: #fff;
}





/*************************************************************************/
.sectionTwo h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    color: #021a87;
    font-size: 40px;
    font-weight: bold; /* Negrita */
  }
  
  .sectionTwo p {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-size: 1.1rem;
    line-height: 30px;
    
  }

  .sectionTwo {
    background-color: #ededed;

  }
  
  .sectionTwo i {
    border-radius: 50% !important;
    width: 6.25rem;
    height: 6.25rem;
    background-color: #b10c0c;
    color: #ffffff;
    line-height: 6.25rem;
    font-size: 2.1875rem;
    margin-bottom: 1.25rem;
  }
  
  .sectionTwo h3 {
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
  }


  /***********************************************************************/

  .pricing-section {
    margin-top: 30px;
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  .pricing-section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    margin-bottom: 70px;
    color: #b10c0c;
    font-weight: bold;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    
  }
  
  .card h3 {
    font-size: 24px;
    color: #021a87;
    margin-bottom: 15px;
  }
  
  .card .price {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .card ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .btn-select-plan {
    display: inline-block;
    padding: 10px 20px;
    background-color: #021a87;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-select-plan:hover {
    background-color: #020d3d;
    border-color: #020d3d;
  }
  

  /************************************************************************/
  /* Estilos para la sección de testimonios */
/* Ajustes del carrusel de testimonios */
.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.member-info h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.member-info p {
    font-size: 16px;
    color: #666;
}

.pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
