

.body {
    font-family: "Poppins", sans-serif;
}


.btnordenar{
    font-family: 'Open Sans', sans-serif;
       font-size: 1.7rem !important;
         text-decoration: none;
      
   }

   /*NAVEGACION SCROLLING*/
   
   .navigation-wrap {
       position: absolute;
       width: 100%;
       left: 0;
       z-index: 10000;
       transition: all 0.3s ease-out;
   }
   
   .navigation-wrap .nav-item {
       /*padding: 0 0, 625rem;*/
       transition: all 0.3s linear;
   }
   
   .navbar-nav .nav-item {
    margin-right: 7px; /* Espaciado entre los elementos de navegación */
    margin-top: -20px;
}


   .nav-link {
       font-size: 1.2rem;
       font-weight: 600;
       text-transform: capitalize;
       letter-spacing: 1px;
       color: #fff;
   }
   
   .nav-link:hover {
       color: #bd262a;
   }
   
   .navbar-collapse {
       text-align: center;
   }
   
   .navigation-wrap.scroll-on {
       position: fixed;
       background-color: #fff;
       top: 0;
       left: 0;
       width: 100%;
       box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
       transition: all 0.15s ease-in-out 0s;
   }
   
   .navigation-wrap.scroll-on .nav-link {
       color: #000;
   }
   
   .navigation-wrap.scroll-on .nav-link:hover,
   .navigation-wrap.scroll-on .nav-link.active {
       color: #bd262a;
   }

   /* BOTON ORDENAR*/
   
   .btnOrder {
       padding: 20px;
       background-color: #bd262a;
       color: #fff;
       outline: none;
       border: none;
       border-radius: 5px;
       font-size: 18px;
       font-weight: bold;
   }
   /* MENU HAMBURGUESA */
   
   .navbar-toggler {
       display: block;
       background-color: #d6dbe3;
       border: 2px solid #fff;
   }
   
   .navbar-toggler:hover {
       background-color: #d6dbe3;
   }
   
   .custom-toggler.navbar-toggler {
       border-color: #fff;
   }
   
   .custom-toggler .navbar-toggler-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }
   
   .custom-toggler .navbar-toggler-icon:hover {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }

/* Estilo personalizado para el botón "Campus Virtual" */
.nav-item .btn.btn-danger {
 
    border: 1.3px solid #fff;
    background-color:rgb(0, 0, 0, 0.09); 
    border-radius: 30px;        
    padding: 10px 20px;         
    font-size: 16px;            
    font-weight: bold;         
    transition: all 0.3s ease;  
    color: ;               
}

/* Efecto hover para el botón */
.nav-item .btn.btn-danger:hover {
    background-color: #b10c0c;  /* Fondo más oscuro al pasar el mouse */
    border-color: #8b0808;      /* Borde más oscuro en hover */
    color: #f0f0f0;             /* Cambiar el color del texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


/* Estilos para el menú dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: rgba(253, 253, 253, 0.3);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

/* Submenú estilo: Para que el segundo nivel de menús dropdown se muestre a la derecha */
.dropdown-submenu {
    position: relative;
}

/* Estilo que posiciona el submenú secundario a la derecha */
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%; /* Hace que el menú secundario se despliegue hacia la derecha */
    margin-top: -6px;
    margin-left: 0.1rem;
}

/* Mostrar el menú al hacer hover (se puede usar con tu JavaScript) */
.dropdown-submenu:hover .dropdown-menu {
    display: block;
}


@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin-top: 0; /* Ajusta el margen para evitar problemas de diseño en móviles */
    }
}




/************************FIN NAV***********************************/

/* Estilo para el contenedor de la Hero Section */
.hero {
    position: relative;
    height: 100vh; /* Hace que la sección ocupe el 100% del alto de la ventana */
    background-image: url('img/banner3.webp'); /*Añade la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra toda la sección */
    background-position: center; /* Centra la imagen en la pantalla */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    padding-left: 50px; /* Añade espacio a la izquierda para el texto */
    color: white; /* El color del texto será blanco */
  }


  .about-us {
    background-color: #021a87; /* Color de fondo suave */
    padding: 60px 0; /* Espaciado alrededor de la sección */
  }
  
  .about-us h2 {
    margin-top: 90px;
    font-size: 2.5rem; /* Tamaño grande para el título */
    font-weight: 700; /* Negrita */
    color: #f0f0f0; 
    margin-bottom: 20px; 
  }
  
  .about-us p {
    font-size: 1.3rem; /* Tamaño de fuente ligeramente mayor para el texto */
    line-height: 1.8; /* Espaciado entre líneas */
    color: #fff; /* Color gris oscuro para el texto */
    margin-bottom: 40px; /* Espaciado entre el párrafo y los demás elementos */
  }
  
  .btn-more-info {
    display: inline-block; /* Asegurarse de que el botón sea un bloque en línea */
    margin-top: 10px; /* Espacio superior para el botón */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #b10c0c; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de la fuente */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.btn-more-info:hover {
    background-color: #720e0e; /* Color de fondo más oscuro al hacer hover */
    transform: translateY(-5px); /* Levantar el botón al hacer hover */
}


  .video-container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Esquinas redondeadas en el video */
    border: none; /* Eliminar borde del iframe */
  }
  

  /*********************************FIN NOSOTROS****************************/
  .cursos-carousel {
    padding: 40px 0; /* Espaciado superior e inferior */
    background-color: #f9f9f9; /* Fondo claro */
    height: 600px;
}

.cursos-titulos {
    margin-top: 70px;
    text-align: center; /* Centrar el texto */
    margin-bottom: 30px; /* Espacio inferior */
    font-family: "Poppins", sans-serif;
    
}

.cursos-titulos h2 {
    font-size: 2.5rem; /* Tamaño grande para el título */
    font-weight: 700; /* Negrita */
    color:#b10c0c; /* Color del texto */
    margin: 0; /* Eliminar márgenes */
    padding: 10px 0; /* Espaciado interno */
    font-family: "Poppins", sans-serif;
}

.cursos-titulos p {
    font-size: 22px !important; /* Tamaño del subtítulo */
    color: #021a87 !important; /* Color gris para el subtítulo */
    margin: 5px 0; /* Márgenes superior e inferior */
    font-family: "Poppins", sans-serif;
}



  .cursos-carousel {
    padding: 40px 0px;
    text-align: center;
}

.cursos-carousel .owl-carousel .item {
    position: relative; /* Mantener el contenedor relativo */
    overflow: hidden; /* Evitar que el contenido se desborde */
}

.cursos-carousel .owl-carousel .item img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    transition: transform 0.3s ease; /* Efecto de transición suave */
}

.cursos-carousel .owl-carousel .item-info {
    position: absolute; /* Posicionar el banner de forma absoluta */
    bottom: 0; /* Anclar al fondo del contenedor */
    left: 0; /* Comenzar desde el borde izquierdo */
    right: 0; /* Extender hasta el borde derecho */
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    color: #fff; /* Color del texto en blanco */
    padding: 20px; /* Espaciado interno del banner */
    border-bottom-left-radius: 10px; /* Bordes redondeados en la esquina inferior izquierda */
    border-bottom-right-radius: 10px; /* Bordes redondeados en la esquina inferior derecha */
    text-align: left; /* Alinear texto a la izquierda */
    opacity: 0; /* Comienza invisible */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

.cursos-carousel .owl-carousel .item:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse sobre la imagen */
}

.cursos-carousel .owl-carousel .item:hover .item-info {
    opacity: 1; /* Mostrar el banner al hacer hover */
}

.cursos-carousel h3 {
    font-size: 24px; /* Tamaño del título */
    margin: 0 0 10px; /* Márgenes */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Negrita */
    font-family: "Poppins", sans-serif;
}

.cursos-carousel p {
    font-size: 16px; /* Tamaño del texto del subtítulo */
    margin: 0; /* Sin márgenes */
    color: #ddd; /* Color del texto */
    font-family: "Poppins", sans-serif;
}





/*************************************************************************/
.sectionTwo h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    color: #021a87;
    font-size: 45px;
    font-weight: bold; /* Negrita */
  }
  
  .sectionTwo p {
    font-family: "Poppins", sans-serif;
    color: #000000;
    font-size: 1.1rem;
    line-height: 30px;
    
  }

  .sectionTwo {
    margin-top: 30px;
  }
  
  .sectionTwo i {
    border-radius: 50% !important;
    width: 6.25rem;
    height: 6.25rem;
    background-color: #b10c0c;
    color: #ffffff;
    line-height: 6.25rem;
    font-size: 2.1875rem;
    margin-bottom: 1.25rem;
  }
  
  .sectionTwo h3 {
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
  }